<!-- extend sidebar -->
{% extends "navbar.html" %}

<!-- 主內容-->
{% block main%}
<div class="full-background">
    <div id="SelectorContainer" style="text-align: center; color: white;">
        <h1 style="text-align: center; color: white;">預測事故熱點</h1>
        <label for="dateSelect">日期:</label>

        <label for="citySelect">地區:</label>
        <select id="citySelect" required>
            <option value="TPE">臺北市</option>
            <option value="NTP">新北市</option>
            <option value="TY">桃園市</option>
            <option value="TC">臺中市</option>
            <option value="TN">臺南市</option>
            <option value="KS">高雄市</option>
        </select>

        <label for="vehicleSelect">駕駛車種:</label>
        <select id="vehicleSelect" required>
            <option value="walk">走路</option>
            <option value="vehicle">小客車</option>
            <option value="motor">大客車</option>
            <option value="scooter">機車</option>
            <option value="military">軍車</option>
            <option value="truck">大貨車</option>
            <option value="slow">慢車</option>
            <option value="smalltruck">小貨車</option>
            <option value="coupled">半聯結車</option>
            <option value="other">其他</option>
            <option value="special">特種車</option>
            <option value="connected">全聯結車</option>
            <option value="Tractor">曳引車</option>
        </select>

        <label for="genderSelect" style="color: white;">性別:</label>
        <select id="genderSelect" required>
            <option value="male">男</option>
            <option value="female">女</option>
        </select>


        <label for="ageSelect" style="color: white;">性別:</label>
        <select id="ageSelect" required>
            <option value="child">0-17歲</option>
            <option value="teenager">18-39歲</option>
            <option value="mature">40-64歲</option>
            <option value="elder">>=65歲</option>
        </select>
        <br>
        <button id="btn_request1" type="button" class="btn btn-light" onclick="generateMap()">查詢</button>
    </div>
    <div id="map" style="z-index:1"></div>
</div>


{% endblock main %}
{%block script%}
<script>

    var map = null; // 宣告map變數

    function generateMap() {

        var citySelect = document.getElementById("citySelect");
        var vehicleSelect = document.getElementById("vehicleSelect");
        var genderSelect = document.getElementById("genderSelect");
        var ageSelect = document.getElementById("ageSelect");

        var cityValue = citySelect.value;
        var vehicleValue = citySelect.value;
        var genderValue = citySelect.value;
        var ageValue = citySelect.value;

        console.log(cityValue);

        // 創建第一個圖層    
        var layer = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        });


        // 清除之前map的Marker
        if (map != null) {
            map.remove();
            map = null;
        }

        // 根據不同的城市設置地圖的經緯度
        var latitude, longitude;
        if (cityValue === "TPE") {
            latitude = 25.04899756571732;// 台北市的緯度值;
            longitude = 121.51368522729861;// 台北市的經度值;
        } else if (cityValue === "NTP") {
            latitude = 25.014221504674026; // 新北市的緯度值;
            longitude = 121.4643730074936;// 新北市的經度值;
        } else if (cityValue === "TY") {
            latitude = 24.992776726836773; // 桃園市的緯度值;
            longitude = 121.31454271560115; // 桃園市的經度值;
        }
        else if (cityValue === "TC") {
            latitude = 24.13744457555597; // 台中市的緯度值;
            longitude = 120.68689288626449; // 台中市的經度值;
        }
        else if (cityValue === "TN") {
            latitude = 22.999141217102405; // 台南市的緯度值;
            longitude = 120.21355678990696; // 台南市的經度值;
        }
        else if (cityValue === "KS") {
            latitude = 22.63970032386821; // 高雄市的緯度值;
            longitude = 120.30295850521398; // 高雄市的經度值;
        }

        map = L.map('map').setView([latitude, longitude], 13);
        layer.addTo(map);



        //設定圖層群組
        let layerGroup = null;//使用來管理marker的群組
        let arrMarkers = [];

        // 按鈕事件，取得 科技執法座標的json回傳資料，response要等取得json後放進去，暫定是array
        function fetchData() {
            fetch('http://127.0.0.1:5000/hotSpot', {
                method: 'GET'
            }).then(function (response) {

                return response.json()

            }).then(function (arr) {
                console.log(arr)
                //刪除先前的markers，如果layerGroup不為空，及圖層有內容的話就清空
                if (layerGroup != null && map.hasLayer(layerGroup)) {
                    layerGroup.clearLayers();
                    map.removeLayer(layerGroup);
                    //變數初始化
                    layerGroup = null;
                    arrMarkers = [];
                }

                // 宣告照相機圖片為marker
                let cameraIcon = L.icon({
                    iconUrl: 'https://drive.google.com/uc?export=view&id=1D7Z5Dh4I6otCp0a6GAaoFOZ7lfGBKzmk',
                    iconSize: [20, 20], // 圖標的尺寸
                    iconAnchor: [20, 30], // 圖標的錨點位置point of the icon which will correspond to marker's location
                    popupAnchor: [-3, -76] // 彈出視窗的位置/ point from which the popup should open relative to the iconAnchor
                });

                //畫群組
                //var markers = new L.MarkerClusterGroup();

                arr.filter(item => item.CITY === cityValue) // 根據城市篩選
                    .forEach(item => {
                        let marker = L.marker(new L.LatLng(item.LATITUDE, item.LONGITUDE), { icon: cameraIcon }) // 新增 Marker
                            .bindPopup(`<p>事故熱區機率: ${item.Probability}</p>`); // 資訊視窗
                        marker.addTo(map); // 直接將標記加入地圖上
                    });

            });

        };
        fetchData(); // 初始化及載入數據

    }
</script>

{%endblock%}