<!-- extend sidebar -->
{% extends "navbar.html" %}

<!-- 主內容-->
{% block main%}
<div class="full-background">
    <div id="SelectorContainer" style="text-align: center; color: white;">
        <h1 style="text-align: center; color: white;">預測未來36小時事故熱點</h1>
        <label for="dateSelect">日期:</label>
        <select id="dateSelect">
            <option value="Today">今天</option>
            <option value="TMR">明天</option>
            <option value="afterTMR">後天</option>
        </select>

        <label for="citySelect">地區:</label>
        <select id="citySelect">
            <option value="TPE">臺北市</option>
            <option value="NTP">新北市</option>
            <option value="TY">桃園市</option>
            <option value="TC">臺中市</option>
            <option value="TN">臺南市</option>
            <option value="KS">高雄市</option>
        </select>

        <label for="vehicleSelect">駕駛車種:</label>
        <select id="vehicleSelect">
            <option value="military">軍車</option>
            <option value="walk">走路</option>
            <option value="vehicle">小客車</option>
            <option value="motor">大客車</option>
            <option value="scooter">機車</option>
            <option value="truck">大貨車</option>
            <option value="slow">慢車</option>
            <option value="smalltruck">小貨車</option>
            <option value="coupled">半聯結車</option>
            <option value="other">其他車種</option>
            <option value="special">特種車</option>
            <option value="connected">全聯結車</option>
            <option value="Tractor">曳引車</option>
        </select>

        <label for="genderSelect" style="color: white;">性別:</label>
        <select id="genderSelect">
            <option value="male">男</option>
            <option value="female">女</option>
        </select>


        <label for="ageSelect" style="color: white;">性別:</label>
        <select id="ageSelect">
            <option value="child">0-17歲</option>
            <option value="teenager">18-39歲</option>
            <option value="mature">40-64歲</option>
            <option value="elder">>=65歲</option>
        </select>
        <br>
        <button id="btn_request1" type="button" class="btn btn-light">查詢</button>
    </div>

</div>


{%endblock%}